{% extends 'users/base.html' %}
{% block content %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ввод кода верификации</title>
</head>
<body>
    <h4>Введите код верификации в поле ниже</h4>
    <form method="post" action="{% url 'users:verify' %}">
        {% csrf_token %}
        <label for="code">Код верификации:</label>
        <input type="text" id="code" name="code" required>
        <button type="submit">Подтвердить ввод</button>
    </form>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</body>
</html>
{% endblock %}